body {
    background-image: url('cafe-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 200, 255);
}

header {
    background-color: rgba(159, 0, 0, 0.7);
    padding: 20px 0;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.card {
    background-color: rgba(246, 86, 86, 0.9);
    color: rgb(0, 0, 0);
    border: none;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}

footer {
    background-color: rgba(203, 23, 23, 0.7);
    padding: 20px 0;
}
